@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 3em !important;
  }
}
@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 4em !important;
  }
}
.footer {
  width: 100%;
  padding: 15px 0;
  background-color: #f5f5f5;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #282c34;
  position: relative;
}
.circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 22px;
}
.jumbotron {
  position: relative;
  margin-top: 68px;
  background-image: linear-gradient(45deg, #FF0401, #FC6E02);
}
.jumbotron .bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('bg-md.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}
.jumbotron .container {
  position: relative;
}
.hero-image {
  background-image: url('hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-grey {
  background: #E0E0E0;
}
