#main {
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 0 30px;
}

.wrap {
  position: fixed;
  top: 70px;
  bottom: 0;
  height: auto;
}

a {
  text-decoration: none;
}
