@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken={TOKEN_FOR_FONT_AWESOME}

@multifactor-frontend:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken={TOKEN_FOR_GITHUB_PACKAGES}